// -----------------------------------------
// COLORS VARIABLES
// -----------------------------------------

$color-1: #212931;
$color-2: #4e403d;
$color-3: #717981;
$color-4: #f6f6f6;
$color-4-darken: darken($color-4, 7%);
$color-5: #18bfef;

$color-block-dim: 5.5rem;

// -----------------------------------------
// COLOR BLOCKS
// -----------------------------------------

.color-block {
	width: $color-block-dim;
	height: $color-block-dim;
	display: inline-block;
	color: #f1f1f1;
	text-align: center;
	line-height: $color-block-dim;
	&.color-1 {
		background: $color-1;
	}
	&.color-2 {
		background: $color-2;
	}
	&.color-3 {
		background: $color-3;
	}
	&.color-4 {
		background: $color-4;
	}
	&.color-5 {
		background: $color-5;
	}
}
