//----------------------------
//LISTS VARIABLES
//----------------------------
$margin-list: 2rem 0;
$padding-list: 20%;
$margin-list-li: 0.5em 0;

//UNORDERED - UL
$margin-list-unordered-li: 0.75rem 0;

//ORDERED
$margin-list-ordered-li: 0.75rem 0;

//ALTERNATE - UL.ALTERNATE
$margin-list-alternate-li: 0.75rem 0;

//ICONS
$margin-list-icon-li: 0 0 0 2rem;
$list-style-icon: none;
$display-list-icon: flex;
$flex-direction-icon: row;
$padding-list-icon: 0;

//DEFINITIONS
$text-transform-title: capitalize;
$list-style-item: none;
$padding-item: 0;
$margin: 1em 0;
$margin-left: 2em;

//----------------------------
//LISTS SPECIFICATIONS
//----------------------------

//DEFINITION
.definition {
	list-style: none;
	padding: 0;
	margin: $margin;
	.text-definition {
		margin-left: 2rem;
	}
}
//LIST

.list-unordered {
	li {
		margin: $margin-list-unordered-li;
	}
}
.list-ordered {
	li {
		margin: $margin-list-ordered-li;
	}
}
.list-alternate {
	li {
		margin: $margin-list-alternate-li;
	}
}

// ICONS

.list-icon {
	display: $display-list-icon;
	flex-direction: $flex-direction-icon;
	padding-left: $padding-list-icon;
	margin: $margin-list;
	list-style: $list-style-icon;

	li {
		margin: $margin-list-icon-li;
	}

	a {
		text-decoration: none;
		display: flex;
		justify-content: center;
		width: 30px;
		height: 30px;
		&:hover {
			color: $color-5;
		}
	}
}

.border {
	border: 1px solid $color-4-darken;
	border-radius: 50%;
	align-items: center;
	&:hover {
		border-color: $color-5;
	}
}
